.color-box {
	display:inline-block;
	border: solid black 5px;
}

#board {
}

#board .row {
	white-space: nowrap;
	line-height: 0;
}

#board .row .tile {
	width: 150px;
	height: 150px;
	border: solid black 2px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 150px;

	transition: transform 0.3s;
	transition: -webkit-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
}

#board .row .tile.start, .color-box.start {
	border-color: green;
}

#board .row .tile.end, .color-box.end {
	border-color: blue;
}

#board .row .tile.locked, .color-box.locked {
	border-color: red;
}

#board .row .tile.en, #board .row .tile.es, #board .row .tile.sw, #board .row .tile.nw {
	background-image: url(../gfx/turn.png);
}

#board .row .tile.en {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

#board .row .tile.es {
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

#board .row .tile.sw {
	transform: rotate(360deg);
	-webkit-transform: rotate(0deg);
}

#board .row .tile.nw {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

#board .row .tile.ew, #board .row .tile.ns {
	background-image: url(../gfx/straight.png);
}

#board .row .tile.ew {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

#board .row .tile.ns {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}