/*
GENERAL STYLES
*/

.screen {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 10px;
	display: none;
}

.screen.visible {
	display: block;
}

/*
PLAY SCREEN STYLES
*/
.color-box {
	display:inline-block;
	border: solid black 5px;
}

.tiles {
	display: inline-block;
	line-height: 0;
}

.tiles .row {
	white-space: nowrap;
	line-height: 0;
}

.tiles .row .tile {
	width: 150px;
	height: 150px;
	border: solid black 2px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;

	transition: transform 0.3s;
	transition: -webkit-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
}

.tiles .row .tile.start, .color-box.start {
	border-color: green;
}

.tiles .row .tile.end, .color-box.end {
	border-color: blue;
}

.tiles .row .tile.locked, .color-box.locked {
	border-color: red;
}

.tiles .row .tile.turn {
	background-image: url(../gfx/turn.png);
}

.tiles .row .tile.straight {
	background-image: url(../gfx/straight.png);
}

#board-container {
	position: relative;
	display: inline-block;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events:none;
}