#board {
}

/*Clearfix*/
#board .row:before, #board .row:after {
	content: " ";
	display: table;
}
#board .row:after {
	clear: both;
}
/*Clearfix*/

#board .row .tile {
	width: 150px;
	height: 150px;
	border: solid black 2px;
	float: left;
	background-repeat: no-repeat;
	background-size: 150px;
}

#board .row .tile.start {
	border-color: green;
}

#board .row .tile.end {
	border-color: blue;
}

#board .row .tile.locked {
	border-color: red;
}

#board .row .tile.en, #board .row .tile.es, #board .row .tile.sw, #board .row .tile.nw {
	background-image: url(../gfx/turn.png);
}

#board .row .tile.en {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

#board .row .tile.es {
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

#board .row .tile.sw {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

#board .row .tile.nw {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

#board .row .tile.ew, #board .row .tile.ns {
	background-image: url(../gfx/straight.png);
}

#board .row .tile.ew {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

#board .row .tile.ns {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}